<!DOCTYPE html>
              <html>
              <div>BEGIN:VCALENDAR
<br />PRODID:ics.py - http://git.io/lLljaA
<br />VERSION:2.0
<br />BEGIN:VEVENT
<br />DTSTAMP:20180204T175624Z
<br />DTSTART;VALUE=DATE:20180131
<br />SUMMARY:CSC473 Assignment 1
<br />UID:5bf62a9f-118e-4709-a437-f31b04733c57@5bf6.org
<br />END:VEVENT
<br />BEGIN:VEVENT
<br />DTSTAMP:20180204T175624Z
<br />DTSTART;VALUE=DATE:20180228
<br />SUMMARY:CSC473 Assignment 2
<br />UID:3a95a1dd-4151-46a6-8f55-3ad70d974ed5@3a95.org
<br />END:VEVENT
<br />BEGIN:VEVENT
<br />DTSTAMP:20180204T175624Z
<br />DTSTART;VALUE=DATE:20180321
<br />SUMMARY:CSC473 Assignment 3
<br />UID:bcb1f69e-1ce1-4d92-bbbf-330ca61afd78@bcb1.org
<br />END:VEVENT
<br />END:VCALENDAR
 </div>

              </html>